                        /* Gestion générale du texte */
p
{
    color: dark;
    padding: 12px; /* Marge intérieure de 12px */
}

h1
{
    color: royalblue;
    width: 50%;
    min-width: 400px;
}

h1:hover
{
    color: palevioletred;
}

h2
{
    color: forestgreen;
    font-size: 2ex;
}

h2:hover
{
    color: mediumvioletred;
}

h3
{
    color: forestgreen;
    font-size: 2ex;
    text-decoration: underline;
}

h3:hover
{
    color: mediumvioletred;
}

strong
{
    font-size: 2ex;  
    color: blueviolet;  
}

em
{
    text-decoration: underline;
    font-style: normal;
}

a:visited
{
    color: green;
}

#bienvenue
 {
    text-align: center;
    color: forestgreen;
    font-size: 3ex;
 }

.mise_en_valeur1
 {
    font-weight: bold;
    color: brown;
 }

.mise_en_valeur2
{
    font-style: italic;
}

.mise_en_valeur3
{
    font-style: italic;
}

.mise_en_valeur3:hover
{
    color: darkred;
    font-weight: bold;
}

.mise_en_valeur4
 {
    color: brown;
 }

.citation_code_balise
{
    border: 5px lightgreen outset;
    border-radius: 14px / 28px;
    box-shadow: 14px 14px 14px lightcoral;
    white-space: pre-wrap;
}

.citation_code_balise:active
{
    border: 7px skyblue inset;
    border-radius: 20px / 30px;
    box-shadow: -18px -30px 75px lightgreen;
    font-family: 'ma_police_perso_en_gras';
    background-color: mistyrose;
    font-size: 1.5em;
    color: orangered;
}

.survol_image:hover img
{
    width: 15%;
    height: 15%;
}

.survol_image:active img
{
    width: 25%;
    height: 25%;
}

.survol_image_autre:active img
{
    width: 45%;
    height: 45%;
}

                        /* Les images */

#chat_arc_en_ciel
{
    width: 5%;
    height: 5%;
}

#photo_fleur
{
    width: 15%;
    height: 15%;
}

#les_tailles
{
    width: 15%;
    height: 15%;
}

#les_tailles:active 
{
    width: 25%;
    height: 25%;
}

.flex img
{
    width: 35%;
    height: 35%;   
}

.flex:active img
{
    width: 55%;
    height: 55%;   
}

#exemple_site
{
    width: 35%;
    height: 35%;       
}

#exemple_site:active
{
    width: 45%;
    height: 45%;       
}

.fusion img
{
    width: 35%;
    height: 35%;   
}

.fusion:active img
{
    width: 75%;
    height: 75%;   
}