                        /* Déclaration de la police */
@font-face
{
    font-family: 'ma_police_perso';
    src: url('font_perso/Quicksand-Regular.otf');
    font-family: 'ma_police_perso_en_gras';
    src: url('font_perso/Quicksand-Bold.otf');
}
                        
                        /* Gestion générale du texte */
p
{
    color: dark;
}

h1
{
    color: purple;
}

h1:hover
{
    color: green;
}

strong
{
    font-size: 2ex;  
    color: blueviolet;  
}

em
{
    text-decoration: underline;
    font-style: normal;
}

a:visited
{
    color: green;
}

.italique
 {
    font-style: italic;
 } 

#bienvenue
 {
    text-align: center;
    color: forestgreen;
    font-size: 3ex;
 }

.mise_en_valeur1
 {
    font-weight: bold;
    color: brown;
 }

.mise_en_valeur2
{
    font-style: italic;
}

.citation_code_balise
{
    border: 5px lightgreen outset;
    border-radius: 14px / 28px;
    box-shadow: 14px 14px 14px lightcoral;
    white-space: pre-wrap;
}

.citation_code_balise:active
{
    border: 7px skyblue inset;
    border-radius: 20px / 30px;
    box-shadow: -18px -30px 75px lightgreen;
    font-family: 'ma_police_perso_en_gras';
    background-color: mistyrose;
    font-size: 1.5em;
    color: orangered;
}

.survol_image:hover img
{
    width: 15%;
    height: 15%;
}


td
{
    text-align: center;
    border: 1px groove black;
}

table
{
    border-collapse: collapse;
}
                        /* Les formats */

.presentation
{
    color: green;
    text-align: left;
    font-size: 1.3em;
    border: 5px lightgreen outset;
    border-radius: 14px / 28px;
    box-shadow: 14px 14px 14px lightcoral;
    white-space: pre-wrap;
}

                        /* Les tailles */
.t24px
{
    font-size: 24px;
}
.t1cm
{
    font-size: 1cm;
}
.t9mm
{
    font-size: 9mm;
}
.x_large
{
    font-size: x-large;
}
.t0_8em
{
    font-size: 0.8em;
}
.t2ex
{
    font-size: 2ex;
}
                        /* Les polices */

.police
{
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

                        /* Italique et gras */
.italique
{
    font-style: italic;
}
.oblique
{
    font-style: oblique;
}
.gras
{
    font-weight: bold;
}


                        /* Les décorations */

.blink
{
    text-decoration: blink;
}
.underline
{
    text-decoration: underline;
}
.barre
{
    text-decoration: line-through;
}
.overline
{
    text-decoration: overline;
}
.none
{
    text-decoration: none;
}

                        /* Les aligments */

.gauche
{
    text-align: left;    
}
.centre
{
    text-align: center;    
}
.droite
{
    text-align: right;    
}
.justify
{
    text-align: justify;    
}

                        /* Les ombres */
.ombre
{
     text-shadow: 8px 15px 3px midnightblue;
}

                        /* Les pseudo-formats */

.pseudo_format:active
{
    background-color: yellow;
    font-size: 10ex;  
    color: red;
}