
											/* Toute la fenêtre */
body
{
	background-color: palegreen;
}

											/* Toute la page */
#bloc_page
{
	width: 1000px;
	margin: auto;
	background-color: #F6E7D0;
}

td
{
    text-align: center;
    border: 1px groove black;
}

table
{
	display: flex;
    border-collapse: collapse;
    justify-content: center;
}
											/* En-tête */

header nav
{
	height: 45px;
}

header nav li
{
	border-style: groove;
	border-top: 5px groove yellowgreen;
	border-radius: 10px 5px 10px 5px;
	width: 120px;
	list-style: none;
	text-align: center;
	color: forestgreen;
}

header nav li:hover
{
	border-style: groove;
	border-radius: 10px 5px 10px 5px;
	border-top: 5px groove indianred;
    list-style-image: url('images_pour_mise_en_forme/icone_onglet2.png');
    box-shadow: 0px 0px 20px darkorange;
}

header nav ul
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

header a
{
	text-decoration: none;
	color: forestgreen;
}

#titre_principal
{
	color: forestgreen;
	border-style: double;
	border-color: yellowgreen;
	text-align: center;
	height: 80px;
}

#titre_principal h1
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.8em;
}

#titre_principal h2
{
	color: darkcyan;
	font-size: 1.1em;
	margin-top: 5px;
	margin-bottom: 0px;
}



											/* Section (englobe l'article et le sous-menu [nav])*/
section
{
	display: flex;
	flex-direction: row;
	height: 80%;
}

section h1
{
    color: royalblue;
}
											/* Article (là où il y a l'explication du langage) */

article 
{
	height: 600px;
	width: 80%;
	overflow: auto;
}

article p
{
    color: dark;
    padding: 12px; /* Marge intérieure de 12px */
}

article h1
{
    font-size: 2.7ex;
    text-align: center;
}
article h1:hover
{
    color: mediumvioletred;
}
article h2
{
    color: forestgreen;
    font-size: 2.2ex;
    text-align: center;
}

article h2:hover
{
    color: palevioletred;
}

article h3
{
    color: forestgreen;
    font-size: 2.1ex;
    text-align: center;
    text-decoration: underline;
}

article h3:hover
{
    color: mediumvioletred;
}

article a:visited
{
    color: green;
}

.introduction_langage
{
	text-align: center;
}

#formulaire
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

article form fieldset
{
	width: 270px;
	height: 150px;
}

											/* Sous-menu (nav) */
#sous_menu
{
	text-align: center;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	border-radius: 20px 20px 20px 20px;
	border: 5px lightgreen groove;
    box-shadow: -12px 0px 30px coral;
	height: 610px;
	overflow: auto;
}

#sous_menu p
{
	margin: auto;
}

#sous_menu a
{
	text-decoration: none;
	color: royalblue;

}

#sous_menu a:hover
{
	text-decoration: none;
	color: darkslateblue;
	font-weight: bold;
}

		

											/* pied de page */
footer
{
	border-style: double;
	border-color: yellowgreen;

}

footer h1
{
	color: royalblue;
	font-size: 1.2em;
	text-align: center;	
}

footer a
{
	color: darkolivegreen;
	font-weight: bold;
}


footer a:hover
{
	color: darkcyan;
	font-weight: bold;
}

footer a:visited
{
    color: green;
}

#les_liens
{
	display: flex;
	flex-direction: row;
	justify-content: left;
}

											/* Langage HTML */

                   						    /* Gestion générale du texte */

strong
{
    font-size: 2ex;  
    color: blueviolet;  
}

em
{
    text-decoration: underline;
    font-style: normal;
}

#bienvenue
 {
    text-align: center;
    color: forestgreen;
    font-size: 3ex;
 }

.mise_en_valeur1
 {
    font-weight: bold;
    color: brown;
 }

.mise_en_valeur2
{
    font-style: italic;
}

.mise_en_valeur3
{
    font-style: italic;
}

.mise_en_valeur3:hover
{
    color: darkred;
    font-weight: bold;
}

.mise_en_valeur4
 {
    color: brown;
 }

.citation_code_balise
{
    border: 5px lightgreen outset;
    border-radius: 14px / 28px;
    box-shadow: 14px 14px 14px lightcoral;
    white-space: pre-wrap;
}

.citation_code_balise:active
{
    border: 7px skyblue inset;
    border-radius: 20px / 30px;
    box-shadow: -18px -30px 75px lightgreen;
    font-family: 'ma_police_perso_en_gras';
    background-color: mistyrose;
    font-size: 1.5em;
    color: orangered;
}

.citation_console
{
    border: 4px blueviolet ridge;
    border-radius: 14px / 28px;
    box-shadow: 14px 14px 14px lightcoral;
    white-space: pre-wrap;
    background-color: black;
    color: whitesmoke;
    padding-top: 0px;
}

.survol_image:hover img
{
    width: 15%;
    height: 15%;
}

.survol_image:active img
{
    width: 100%;
    height: 100%;
}

.survol_image_autre:active img
{
    width: 100%;
    height: 100%;
}

                   						    /* Les images */

#chat_arc_en_ciel
{
    width: 5%;
    height: 5%;
}

#photo_fleur
{
    width: 15%;
    height: 15%;
}

#les_tailles
{
    width: 15%;
    height: 15%;
}

#les_tailles:active 
{
    width: 100%;
    height: 100%;
}

figure img:active
{
    width: 100%;
    height: 100%;   
}

.flex img
{
    width: 35%;
    height: 35%;   
}

.flex:active img
{
    width: 100%;
    height: 100%;   
}

#exemple_site
{
    width: 35%;
    height: 35%;       
}

#exemple_site:active
{
    width: 100%;
    height: 100%;       
}

.fusion img
{
    width: 75%;
    height: 75%;   
}

.fusion:active img
{
    width: 100%;
    height: 100%;   
}

                   						    /* Langage CSS */

                   						    /* Gestion générale du texte */
                   						    /* Déclaration de la police */
@font-face
{
    font-family: 'ma_police_perso';
    src: url('font_perso/Quicksand-Regular.otf');
    font-family: 'ma_police_perso_en_gras';
    src: url('font_perso/Quicksand-Bold.otf');
}
                        

                   						    /* Les formats */

.presentation
{
    color: green;
    text-align: left;
    font-size: 1.3em;
    border: 5px lightgreen outset;
    border-radius: 14px / 28px;
    box-shadow: 14px 14px 14px lightcoral;
    white-space: pre-wrap;
}

                   						    /* Les tailles */
.t24px
{
    font-size: 24px;
}
.t1cm
{
    font-size: 1cm;
}
.t9mm
{
    font-size: 9mm;
}
.x_large
{
    font-size: x-large;
}
.t0_8em
{
    font-size: 0.8em;
}
.t2ex
{
    font-size: 2ex;
}
                   						    /* Les polices */

.police
{
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

                   						    /* Italique et gras */
.italique
{
    font-style: italic;
}
.oblique
{
    font-style: oblique;
}
.gras
{
    font-weight: bold;
}


                   						    /* Les décorations */

.blink
{
    text-decoration: blink;
}
.underline
{
    text-decoration: underline;
}
.barre
{
    text-decoration: line-through;
}
.overline
{
    text-decoration: overline;
}
.none
{
    text-decoration: none;
}

                   						    /* Les aligments */

.gauche
{
    text-align: left;    
}
.centre
{
    text-align: center;    
}
.droite
{
    text-align: right;    
}
.justify
{
    text-align: justify;    
}

                   						    /* Les ombres */
.ombre
{
     text-shadow: 8px 15px 3px midnightblue;
}

                   						    /* Les pseudo-formats */

.pseudo_format:active
{
    background-color: yellow;
    font-size: 10ex;  
    color: red;
}

											/* Pour les écrans de taille inférieure à 1280px */
@media all and (max-width: 1280px)
{

	#bloc_page
	{
		width: auto;
		height: auto;
		background-color: #F6E7D0;
	}

	#titre_principal
	{
		border-style: none;
		padding-left: 150px;
	}

	header nav
    {
    	width: auto;
		position: absolute;
		top: 0px;
		left: 0px;
    }

    header nav ul
    {
		display: flex;
		flex-direction: column;
		padding-left: 25px;
    }

    section
    {
		flex-direction: row-reverse;
    }

	article
	{
	padding-left: 150px;
	}

	#sous_menu
	{
    	position: absolute;
    	top: 200px;
    	left: 0px;
		max-height: 450px;
		min-width: 150px;
		overflow: auto;
    }

	article #formulaire
	{
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap	
	}

}